@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 60 4.76% 95.88%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 0% 83.08%;
    --muted-foreground: 25 6.54% 19.49%;
    --popover: 60 4.76% 95.88%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 60 4.76% 95.88%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 0 0% 83.14%;
    --input: 20 5.9% 90%;
    --primary: 205.31 59.26% 21.18%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 204.55 37.65% 85.2%;
    --secondary-foreground: 204.88 71.93% 11.18%;
    --accent: 203.57 36.84% 85.1%;
    --accent-foreground: 204.71 72.73% 11.13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 205.31 59.26% 21.18%;
    --chart-2: 204.55 37.65% 85.2%;
    --chart-3: 203.57 36.84% 85.1%;
    --chart-4: 204.55 37.65% 88.2%;
    --chart-5: 205.31 62.26% 21.18%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.22 47.37% 11.18%;
    --foreground: 334 34% 98%;
    --muted: 215.38 16.32% 46.86%;
    --muted-foreground: 334 0% 87.69%;
    --popover: 217.24 32.58% 17.45%;
    --popover-foreground: 334 34% 98%;
    --card: 217.24 32.58% 17.45%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 32.31%;
    --input: 215.29 25% 26.67%;
    --primary: 227.56 53.78% 49.22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 203.57deg 69.88% 16%;
    --accent-foreground: 226.73 0% 100%;
    --destructive: 358.82 84.44% 64.71%;
    --destructive-foreground: 0 0% 100%;
    --ring: 227.56 53.78% 49.22%;
    --chart-1: 227.56 53.78% 49.22%;
    --chart-2: 214.29 5.04% 27.25%;
    --chart-3: 222.22 47.37% 11.18%;
    --chart-4: 214.29 5.04% 30.25%;
    --chart-5: 227.56 56.78% 49.22%;
  }
}
